<div class="row">
 <div class="large-12 columns">
    <h2>New User</h2>
    <form action="">
      {% include "_user_edit.html" %}
      <div class="row">
        <div class="large-12 columns">
          <div class="button-bar">
            <ul class="button-group">
              <li><a href="#" class="button success" id="save">Add</a></li>
              <li><a href="#trips" class="button secondary">Cancel</a></li>
            </ul>
          </div>
        </div>
      </div>
    </form>
 </div>
</div>
