<div class="row">
  <div class="large-6 large-centered columns">
    <h1>Login to Trips</h1>
    <form action="">
      <div class="row">
        <div class="large-12 columns">
          <% if (error) { %>
            <small class="error"><%= error %></small>
          <% } %>
          <label>Username:
            <input type="text" id="username" value="<%= username %>">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <label>Password:
            <input type="password" id="password" value="<%= password %>">
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <button id="login">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
