<div class="row">
  <div class="large-12 columns">
    <label>Destination
      <input type="text" name="destination">
    </label>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <label>Start Date
      <input type="date" name="start_date">
    </label>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <label>End Date
      <input type="date" name="end_date">
    </label>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <label>Comment
      <textarea name="comment"></textarea>
    </label>
  </div>
</div>

