<div class="row">
  <div class="large-12 columns">
    <h1>Users</h1>
    <% if (users) { %>
      <table style="width: 100%">
        <thead>
          <tr>
            <th>Username</th>
            <th>Is Admin</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(function(user) { %>
            <tr>
              <td><%= user.get('username') %></td>
              <td><%= user.get('is_staff') %></td>
              <td>
                <a href="#users/edit/<%= user.get('id') %>"
                   class="button small secondary" style="margin: 0">Edit</a>
              </td>
              <td>
                <a href="#users/delete/<%= user.get('id') %>"
                   class="button small secondary" style="margin: 0">Delete</a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } %>
    <div class="button-bar">
      <ul class="button-group">
        <li><a class="button" href="#users/add">Add new user</a></li>
      </ul>
      <ul class="button-group">
        <li><a class="button" href="#trips">Trips</a></li>
      </ul>
    </div>
  </div>
</div>
